/*==================== GOOGLE FONTS ====================*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

/*==================== VARIABLES CSS ====================*/
:root {
    --header-height:3rem ;

    /*========== Colors ==========*/
    /* Change favorite color */
    --hue-color: 350 ; /*Purple 250 - Green 142 - Blue 230 - Pink 340*/

    /* HSL color mode */
    --first-color: hsl(var(--hue-color), 69%, 61%) ;
    --first-color-second:hsl(var(--hue-color), 69%, 61%) ;
    --first-color-alt: hsl(var(--hue-color), 57%, 53%);
    --first-color-lighter: hsl(var(--hue-color), 92%, 85%);
    --title-color: hsl(var(--hue-color), 8%, 15%);
    --text-color: hsl(var(--hue-color), 8%, 45%);
    --text-color-light: hsl(var(--hue-color), 8%, 65%);
    --input-color: hsl(var(--hue-color), 70%, 96%) ;
    --body-color: hsl(var(--hue-color), 60%, 99%);
    --container-color: #fff;
    --scroll-bar-color: hsl(var(--hue-color), 12%, 90%);
    --scroll-thumb-color: hsl(var(--hue-color), 12%, 80%);
}
#title{
    color:var(--title-color);
}
body{
    font-family: 'Poppins', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    flex-direction: column;
    background-color: var(--first-color);
    color:var(--text-color);
    font-size: 20px;
    
}

svg{
    
    background-color: var(--first-color-lighter);
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.4);
}

.container{
    position: relative;
}
.tooltip{
    background-color: var(--body-color);
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.4);
    display: none;
    font-size: 14px;
    position: absolute;
    padding: 10px;
    z-index: 100;
    line-height: 12px;
    text-align: center;
}
.show{
    display: block;
}


.legend{
    display: inline;
    position: absolute;
    top:0;
    right: 0;
    font-size: 16px;
    padding: 20px;
    
}
.text{
    display: flex;
    justify-content: end;
    
}
.box_first{
    margin-left: 5px;
    width: 20px;
    height: 20px;
    background-color: var(--first-color);
}

.box_second{
    margin-left: 5px;
    width: 20px;
    height: 20px;
    background-color: var(--body-color);
}